<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="wrapper">
    <%= yield %>
    <%= javascript_include_tag "site" %>
    <%= javascript_include_tag "progressive-image" %>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWKncoyyJ5ffCrxghBR2JwpTCsAcl8qhA&callback=initMap" type="text/javascript"></script>
  </body>
</html>
