<section class="section-accomodations">
  <h2 class="section-title" style="left: -133px; top: 50px; margin: 0;">Riads</h2>

  <!-- Riad - Chez Darma -->
  <div class="riad-left">
    <div class="pic grid-picture">
      <a href="<%= image_path 'chez-darma-2.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="<%= image_path 'chez-darma-1.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Chez DarMa</i></span>
      </h3>
      <address>
       <%= link_to '234 rue Chbanate | Medina', 'https://goo.gl/maps/vNjVbqmjxgM2' %>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="<%= image_path 'chez-darma-3.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
        <% data.accommodations.chez_darma.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Riad - Dar Nafoura -->
  <div class="riad-right">
    <div class="pic grid-picture">
      <a href="<%= image_path 'dar_nafoura_1.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="<%= image_path 'dar_nafoura_2.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Dar Nafoura</i></span>
      </h3>
      <address>
       <%= link_to '30 rue Ibn Khaldoun', 'https://goo.gl/maps/EPf3TogcyN22' %>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="<%= image_path 'dar_nafoura_3.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
        <% data.accommodations.dar_nafoura.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Riad - Anaissouira -->
  <div class="riad-left">
    <div class="pic grid-picture">
      <a href="<%= image_path 'anaissouira-3.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="<%= image_path 'anaissouira-1.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Anaissouira</i></span>
      </h3>
      <address>
       <%= link_to '30 rue Sidi Ali Ben Daoud', 'https://goo.gl/maps/2s2q9z3FWCQ2' %>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="<%= image_path 'anaissouira-2.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
        <% data.accommodations.anaissouira.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Riad - Lalla Zina -->
  <div class="riad-right">
    <div class="pic grid-picture">
      <a href="<%= image_path 'lalla-zina-1.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="<%= image_path 'lalla-zina-3.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Lalla Zina</i></span>
      </h3>
      <address>
       <%= link_to "17 Rue d'Agadir", 'https://goo.gl/maps/4vQiKd7CjbB2' %>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="<%= image_path 'lalla-zina-2.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
        <% data.accommodations.lalla_zina.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Riad - Le Consulat -->
  <div class="riad-left">
    <div class="pic grid-picture">
      <a href="<%= image_path 'le-consulat-1.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="<%= image_path 'le-consulat-3.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Le Consulat</i></span>
      </h3>
      <address>
       <%= link_to '74 rue Touahen | Medina', 'https://goo.gl/maps/qi6zmPcwJv22' %>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="<%= image_path 'le-consulat-2.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
        <% data.accommodations.le_consulat.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Riad - L'étoile d'Essaouira -->
  <div class="riad-right-long">
    <div class="pic grid-picture">
      <a href="<%= image_path 'etoile-essaouira-1.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="<%= image_path 'etoile-essaouira-2.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>L'étoile d'Essaouira</i></span>
      </h3>
      <address>
       <%= link_to '2 rue qadisiya', 'https://goo.gl/maps/37n97FrU3dm' %>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="<%= image_path 'etoile-essaouira-3.jpg' %>" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
        <% data.accommodations.etoile_essaouira.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  </div>

</section>