<section class="section-agenda">
  <h2 class="section-title" style="left: -175px; top: 107px;">Agenda</h2>
  <div id="agenda">
    <div class="day">
      <h3>Tuesday<strong>26</strong></h3>
      <ul class="day-content">
        <li>
          <i>All day long</i>
          <span>Luggage drop off</span>
          <span>Chilling time</span>
        </li>
        <li>
          <i>7:30pm</i>
          <span>Welcome speech</span>
          <span>& Diner at Taros</span>
          <address>
            <strong><%= link_to 'Taros', 'https://goo.gl/maps/3NJAWUiYgJS2' %></strong><br>
            Place Moulay Hassan<br>
            Essaouira 44000<br>
            Morocco
          </address>
          <div class="grid-picture">
            <a href="<%= image_path 'agenda-tuesday.jpg' %>" class="progressive replace">
              <img src="" class="preview" />
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="day">
      <h3>Wednesday<strong>27</strong></h3>
      <ul class="day-content">
        <li>
          <i>7:30am</i>
          <span>Gathering at meeting point</span>
          <span>Jump into the bus</span>
          <address>
            <strong><%= link_to 'Meeting point', 'https://goo.gl/maps/b53A78hCDqR2' %></strong><br>
            Clock tower gate<br>
            Avenue Oqba Ibn Nafiaa<br>
            Essaouira 44000<br>
            Morocco
          </address>
          <div class="grid-picture">
            <a href="<%= image_path 'meeting-point.jpg' %>" class="progressive replace">
              <img src="" class="preview" />
            </a>
          </div>
        </li>
        <li>
          <i>8:00am</i>
          <span>Arrival at Domaine de L’Arganeraie</span>
        </li>
        <li>
          <i>8:15am</i>
          <span>Breakfast</span>
          <span>Yoga</span>
        </li>
        <li>
          <i>10:00am</i>
          <span>Global Keynote</span>
        </li>
        <li>
          <i>11:00am</i>
          <span>Workshops & keynotes</span>
        </li>
        <li>
          <i>1:00pm</i>
          <span>Lunch</span>
        </li>
        <li>
          <i>2:00pm</i>
          <span>Workshops & keynotes</span>
        </li>
        <li>
          <i>6:30pm</i>
          <span>Free time</span>
        </li>
        <li>
          <i>8:30pm</i>
          <span>Diner & party</span>
        </li>
        <li>
          <i>1am</i>
          <span>Jump into the bus</span>
          <span>Back to Essaouira</span>
        </li>
        <li>
          <address>
            <strong><%= link_to 'Domaine de L’Arganeraie', 'https://goo.gl/maps/nCPXMYQhQp52' %></strong><br>
            Imintagant-El Ghazoua<br>
            Essaouira 44000<br>
            Morocco
          </address>
          <div class="grid-picture">
            <a href="<%= image_path 'agenda-wednesday.jpg' %>" class="progressive replace">
              <img src="" class="preview" />
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="day">
      <h3>Thursday<strong>28</strong></h3>
      <ul class="day-content">
        <li>
          <i>All day long</i>
          <span>Yoga</span>
          <span>Chillin' & Surfing</span>
          <address>
            <strong>Sidi Kaouki</strong>
          </address>
          <div class="grid-picture">
            <a href="<%= image_path 'sidi-kaouki.jpg' %>" class="progressive replace">
              <img src="" class="preview" />
            </a>
          </div>
        </li>
        <li>
          <i>8am & 11am</i>
          <span>Bus shuttle from Essaouira</span>
        </li>
        <li>
          <i>4pm & 6pm</i>
          <span>Bus shuttle from Sidi Kaouki</span>
        </li>
        <li>
          <i>7:30pm</i>
          <span>Diner at Taros</span>
          <span>Party night in Essaouira</span>
          <address>
            <strong><%= link_to 'Taros', 'https://goo.gl/maps/3NJAWUiYgJS2' %></strong><br>
            Place Moulay Hassan<br>
            Essaouira 44000<br>
            Morocco
          </address>
           <div class="grid-picture">
            <a href="<%= image_path 'agenda-tuesday.jpg' %>" class="progressive replace">
              <img src="" class="preview" />
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="day">
      <h3>Friday<strong>29</strong></h3>
      <ul class="day-content">
        <li>
          <i>11.00am</i>
          <span>Free time</span>
          <span>Checkout</span>
        </li>
        <li>
          <i>12.30am</i>
          <span>Last lunch with the people still around Essaouira at that time</span>
          <div class="grid-picture">
            <a href="<%= image_path 'wave-bye.jpg' %>" class="progressive replace">
              <img src="" class="preview" />
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="expend">
    See full agenda
  </div>
</section>