<header>
  <div class="item-a grid-picture">
    <a href="<%= image_path 'cover-1.jpg' %>" class="progressive replace">
      <img src="" class="preview" />
    </a>
  </div>
  <div class="item-b grid-picture">
    <a href="<%= image_path 'cover-2.jpg' %>" class="progressive replace">
      <img src="" class="preview" />
    </a>
  </div>
  <div class="item-c">
    <%= image_tag 'logo.svg' %>
  </div>
  <div class="item-d grid-picture">
    <a href="<%= image_path 'cover-4.jpg' %>" class="progressive replace">
      <img src="" class="preview" />
    </a>
  </div>
  <div class="item-e">
     <h1>
      <span>Le Wagon<br><i>World Retreat 2018</i></span>
    </h1>
  </div>
  <div class="item-f">
    <a href="<%= image_path 'cover-3.jpg' %>" class="progressive replace">
      <img src="" class="preview" />
    </a>
  </div>
  <div class="item-g">
    <i>Essaouira<br>26 - 29 June</i>
  </div>
</header>