 <section class="section-trombi">
    <h2 class="section-title" style="left: -214px; top: 91px;">Le Wagon</h2>
    <div id="trombi">
      <% cities = ['Belo Horizonte', 'Berlin', 'Bordeaux', 'Brussels', 'Casablanca', 'Chengdu', 'Copenhagen', 'Lille', 'Lisbon', 'London', 'Lyon', 'Marseille', 'Milan', 'Montréal', 'Nantes', 'Paris', 'Saõ Paulo', 'Shanghai'] %>
      <% cities.each do |city| %>
        <h3><%= city %></h3>
        <ul>
          <% data.members.people.each do |p| %>
            <% if p.city == city %>
              <li>
                <a href="<%= image_path p.avatar %>" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong><%= p.first_name %></strong> <%= p.last_name %></span>
                  <i><%= p.position %></i>
                </div>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>