---
title: Welcome to Middleman
---

<%= partial "partials/header" %>

<main>
  <%= partial "partials/introduction" %>
  <%= partial "partials/agenda" %>
  <%= partial "partials/accommodations" %>
  <%= partial "partials/trombi" %>
</main>