---
title: Le Wagon - World Retreat 2018
description: The 2018 world retreat of Le Wagon is happening in Essaouira - 81 people, 17 cities, 11 countries represented.
---

<%= partial "partials/header" %>

<main>
  <%= partial "partials/introduction" %>
  <%= partial "partials/agenda" %>
  <%= partial "partials/tips" %>
  <%= partial "partials/accommodations" %>
  <%= partial "partials/trombi" %>
</main>